# the home directory of GATE for building/runnin can be set either:
#  - by the environment variable GATE_HOME, or
#  - by the property gate.home
# If both are set, the value of the property will be used

#gate.home=/where/gate/is/installed/gate
plugin.name=OFAIProcess

